@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Dino-Diner</h1>

<div class="page-nav">
    <a asp-page="/PrivacyPage">Privacy Policy</a>

    <a asp-page="/About">About Page</a>

    <a asp-page="/Menu">Menu Page</a>
</div>

<img src="images/DinoDiner-Banner.png" alt="Dino-Diner Banner"/>